.page-header
  %h2 Games
  = link_to "New Game", new_game_path, class: "btn"

- if @games.any?
  %table
    %thead
      %tr
        %th Date & Time
        %th Matchup
        %th Organization
        %th Location
        %th Status
        %th Actions
    %tbody
      - @games.each do |game|
        %tr
          %td= game.game_date.strftime("%m/%d/%Y %I:%M %p")
          %td= game.display_name
          %td= game.organization.name
          %td= game.location
          %td
            %span{class: "status-#{game.status}"}= game.status.humanize
          %td
            = link_to "View", game_path(game), class: "btn btn-secondary"
            = link_to "Edit", edit_game_path(game), class: "btn"
            - if game.scoreboard
              = link_to "Scoreboard", game_scoreboard_path(game, game.scoreboard), class: "btn"
            = link_to "Delete", game_path(game), class: "btn btn-danger", data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }
- else
  .card
    %p No games found.
    = link_to "Schedule your first game", new_game_path, class: "btn"
